@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Url shortener by <a href="https://piotreknow.ml/">piotreknow</a></h1>
    <form action="" method="post">
        <label for="url">URL: </label>
        <input id="url" name="url" />
        <label for="slug">Slug: </label>
        <input id="slug" name="slug" />
        <input type="submit" />
    </form>
</div>

